.header {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: var(--space-m) var(--space-m) var(--space-m) var(--space-xl);
    border-radius: 20px;
    background-color: var(--grey);
    position: sticky;
    align-self: start;
    top: var(--space-xl);
    z-index: 9999;
    width: calc(100% - 2 * var(--space-xl));
    margin: 0 var(--space-xl);
    transition: border-radius 0.3s ease;
}

.header__logoContainer {
    width: 100%;
    height: 40px;
}

.header__logo {
    height: 4rem;
    cursor: pointer;
}

.header__contacts {
    display: flex;
    gap: 0.8rem;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}

.header__contactLink {
    padding: var(--space-s);
    border-radius: 1.2rem;
    height: max-content;
}

.header__contactLink-vk {
    padding: var(--space-xs);
    border-radius: 1.2rem;
    background-color: var(--base-black);
    height: 4.8rem;
}

.header__vkLogo {
    height: 3.2rem;
    width: 3.2rem;
}

.header__contactLink-vk:hover {
    cursor: pointer;
}

.header__contactLink:hover:not(.header__contactLink-vk) {
    background-color: var(--base-black-05);
    cursor: pointer;
}

.header__nav {
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.header__nav-link {
    width: max-content;
    padding: var(--space-s) var(--space-m);
    border-radius: 16px;
    line-height: 100%;
}

.header__nav-link:hover:not(:active) {
    cursor: pointer;
    background-color: var(--base-black);
    color: var(--white);
}

.header__nav-link:active, .header__nav-link.active {
    background-color: var(--base-black);
    color: var(--white);
}

.header__burger {
    display: none;
}

.header__burgerMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 2.4rem - 4.8rem);
    background-color: var(--grey);
    border-radius: 0 0 1.2rem 1.2rem;
    padding: 1.2rem;
    flex-direction: column;
    justify-content: space-between;
}

.header__burger-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__burger-nav .header__nav-link {
    width: 100%;
    text-align: center;
    border-radius: 1.2rem;
}

.header__burger-contacts {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
}

.header__burgerMenu.active {
    display: flex;
}

@media (max-width: 1919px) {
    .header {
        gap: 1.6rem;
        border-radius: 1.6rem;
    }

    .header__nav {
        gap: 0;
    }


    .header__vkLogo {
        height: 2.4rem;
        width: 2.4rem;
    }

    .header__contactLink-vk {
        height: 4rem;
        width: 4rem;
    }

    .header__contacts {
        gap: 0.4rem;
    }
}

@media (max-width: 1439px) {
    .header {
        padding: var(--space-s);
        top: var(--space-m);
        width: calc(100% - 2 * 0.8rem);
        margin: 0 0.8rem;
        border-radius: 1.2rem;
    }

    .header:has(.header__burgerMenu.active) {
        border-radius: 1.2rem 1.2rem 0 0 !important;
    }

    .header__nav,
    .header__contacts {
        display: none;
    }

    .header__logo {
        height: 2.4rem;
    }
    .header__logoContainer {
        height: 2.4rem;
    }

    .header__burger {
        display: block;
        cursor: pointer;
    }

}