.hero {
    border-radius: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: calc(var(--space-5xl) - var(--space-xl) - 80px) var(--space-3xl) var(--space-4xl) var(--space-3xl) !important;
    gap: 36rem !important;
    position: relative;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.hero__title {
    text-transform: none !important;
}

.hero__image {
    position: absolute;
    top: -20%;
    right: -37%;
    z-index: -1;
}

.hero__contact {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.hero__contactLinkList {
    display: flex;
    gap: 1.6rem;
}

.hero__contactLink {
    padding: var(--space-l) var(--space-xl);
    border-radius: 1.6rem;

    p, a {
        line-height: 100%;
    }
}

.hero__contactLink:hover {}

.hero__vkLogo {
    width: 6.4rem;
    height: 6.4rem;
}

.hero__contactLink_vk {
    padding: var(--space-s);
    border-radius: 1.6rem;
    height: 8.8rem;
}

@media (min-width: 1920px) and (max-width: 2559px) {
    .hero {
        gap: 28rem !important;
    }

    .hero__image {
        max-width: 140rem;
        width: 100%;
        height: 140rem;
    }
}