.docs {
    padding: 0 !important;
    background-color: var(--base-black-05);
}

.docs__content {
    display: flex;
    gap: 6.4rem;
    padding: 12.8rem 6.4rem;
    width: 100%;
}

.docs__title {
    max-width: 800px;
    width: 100%;
}

.docs__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.docs__item {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    background-color: var(--white);
    border-radius: 1.6rem;
    padding: 3.2rem;
}

.docs__top {
    display: flex;
    justify-content: space-between;
}

.docs__bottom {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.docs__icon {
    padding: 2.4rem;
    background-color: var(--base-black-05);
    border-radius: 1.2rem;
    width: 9.6rem;
    height: 9.6rem;
}

.docs__date {
    padding: 1.2rem;
    background-color: var(--base-black-05);
    border-radius: 1.2rem;
    font-size: 1.6rem;
    line-height: 1.6rem;
    height: max-content;
}

.docs__itemTitle {
    font-size: 4rem;
    line-height: 130%;
    font-weight: 500;
    text-transform: uppercase;
}

.docs__buttons {
    display: flex;
    gap: 1.6rem;
    width: 100%;
    background-color: var(--base-black-05);
    border-radius: 1.2rem;
    align-items: center;
}

.docs__divider {
    width: 1px;
    background-color: var(--base-black-05);
    height: 2.4rem;
    flex-shrink: 0;
}

.docs__button {
    border-radius: 1.2rem;
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.6rem;
    padding: 1.2rem 0;
    border: none;
}