.specialist {
    flex-direction: column;
}

.specialist__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.specialist__card {
    display: flex;
    flex-direction: column;
    padding: var(--space-xs);
    border-radius: 1.6rem;
    border: 1px solid var(--base-black-10);
    height: max-content;
}

.specialist__img {
    width: 100%;
    border-radius: 1.2rem;
    display: block;
    object-fit: cover;
    background-color: var(--grey);
    height: 56rem;
}

.specialist__content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding: var(--space-xl) var(--space-m) var(--space-m) var(--space-m);
}

.specialist__info {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.specialist__job {
 line-height: 150%;
}

.specialist__controllers {
    display: flex;
    justify-content: space-between;
}

.specialist__extra {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.specialist__more {
    padding: 1.2rem 3.6rem;
    display: flex;
    gap: 0.4rem;
    border-radius: 1.2rem;
    border: none;
}

.specialist__icon {
    width: 1.6rem;
    height: 1.6rem;
    transition: transform 0.3s ease;
}

.specialist__icon--rotated {
    transform: rotate(180deg);
}

.specialist__extraContainers {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    transition: all 0.3s ease;
}

.specialist__extraContainers.hidden {
    display: none !important;
}

.specialist__extraContainer {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 2.4rem;
    border-radius: 1.2rem;
    background-color: var(--base-black-05);
}

.specialist__extraList {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.specialist__extraItem {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding-left: 12px;
}

.specialist__dot  {
    flex-shrink: 0;
    font-size: 1.6rem;
    line-height: 1;
}

.specialist__vk:hover {
    cursor: pointer;
}

.specialist__vkLogo {
    width: 3.2rem;
    height: 3.2rem;
}

@media (max-width: 2559px) {
    .specialist__extraList {
        gap: 0.6rem;
    }
}

@media (max-width: 1919px) {
    .specialist__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 1439px) {
    .specialist__img {
        height: 34.8rem;
    }
}