.help {
    flex-direction: column;
}

.help__title {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    text-align: center;
}

.help__cardList {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.help__card {
    width: calc((100% / 2) - 2rem);
    border-radius: 1.6rem;
    display: flex;
    padding: var(--space-xl);
    border: 1px solid var(--base-black-10);
    gap: 3.2rem;
}

.help__icon {
    width: 9.6rem;
    height: 9.6rem;
    border-radius: 1.2rem;
    background-color: var(--base-black-05);
    flex-shrink: 0;
    padding: var(--space-xl);
}

.help__content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    text-align: start;
}

.help__listItem {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    padding-left: var(--space-s);
}

.help__dot {
    flex-shrink: 0;
    font-size: 1.6rem;
    line-height: 1;
    margin-top: 0.4em;
}

.help__description {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

@media (max-width: 2559px) {
    .help__dot {
        margin-top: 0;
    }
}

@media (max-width: 1919px) {
    .help__icon {
        width: 6.4rem;
        height: 6.4rem;
        border-radius: 1.2rem;
        background-color: var(--base-black-05);
        flex-shrink: 0;
        padding: 1.6rem;
    }

    .help__dot {
        font-size: 1.6rem;
        line-height: 1;
        margin-top: 0;
    }

    .help__content {
        gap: 0.8rem;
    }
}