html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --grey: #F2F2F2;
    --white: #fff;
    --base-black: #000;
    --base-black-05: rgba(0, 0, 0, 0.05);
    --base-black-10: rgba(0, 0, 0, 0.1);
    --font-base: 'PT Root UI', Arial, sans-serif;

    --space-2xs: 0.2rem;
    --space-xs: 0.4rem;
    --space-s: 0.8rem;
    --space-m: 1.2rem;
    --space-l: 1.6rem;
    --space-xl: 2rem;
    --space-2xl: 2.4rem;
    --space-3xl: 6.4rem;

    --radius-3xs: 0.4rem;
    --radius-2xs: 0.6rem;
    --radius-xs: 0.8rem;
    --radius-s: 1.2rem;
    --radius-m: 1.6rem;
    --radius-l: 2.4rem;
}

.root {
    margin: 0 auto;
    background-color: var(--white);
    color: var(--base-black);
    padding: 3.2rem 0 0 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: var(--font-base), sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.root * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.root ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.root a {
    appearance: none;
    text-decoration: none;
    color: inherit;
}

.root section {
    padding: 12.8rem 6.4rem;
    display: flex;
    gap: 6.4rem;
}

.root h2, h3, h4 {
    text-transform: uppercase;
    font-weight: 500;
}

.root h1 {
    font-size: 12.8rem;
    font-weight: 600;
    line-height: 110%;
}

.root h2 {
    font-size: 9.6rem;
    line-height: 120%;
}

.root h3 {
    font-size: 4rem;
    line-height: 130%;
}

.root h4 {
    font-size: 2.4rem;
    line-height: 130%;
}

.bodyXS {
    font-size: 1.6rem;
    line-height: 100%;
}

.bodyS {
    font-size: 2rem;
    line-height: 120%;
}

.bodyM {
    font-size: 2.4rem;
    line-height: 150%;
}

.bodyL {
    font-size: 4rem;
    line-height: 110%;
}

.bodyXL {
    font-size: 4.8rem;
    line-height: 150%;
}

@media (min-width: 1920px) and (max-width: 2560px) {
    .root h1 {
        font-size: 9.6rem;
    }

    .root h2 {
        font-size: 8rem;
        line-height: 120%;
    }

    .root h3 {
        font-size: 3.2rem;
    }

    .root h4 {
        font-size: 2rem;
    }

    .bodyXS {
        font-size: 1.6rem;
    }

    .bodyS {
        font-size: 1.6rem;
    }

    .bodyM {
        font-size: 2rem;
    }

    .bodyL {
        font-size: 3.2rem;
    }

    .bodyXL {
        font-size: 4rem;
    }
}