.about__content {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
}

.about__title {
    max-width: 800px;
    width: 100%;
}

@media (max-width: 2559px) {
    .about__title {
        max-width: 600px;
    }
}

@media (max-width: 1919px) {
   .about {
        flex-direction: column;
    }

    .about__content {
        gap: 4.8rem;
    }
}