.about__content {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
}

.about__text {
    font-size: 4.8rem;
    line-height: 7.2rem;
    text-wrap: balance;
}

.about__title {
    max-width: 800px;
    width: 100%;
}