.about__content {
    display: flex;
    flex-direction: column;
    gap: 6.4rem;
}

.about__text {
    text-wrap: balance;
}

.about__title {
    max-width: 800px;
    width: 100%;
}

@media (min-width: 1920px) and (max-width: 2559px) {
    .about__title {
        max-width: 600px;
    }
}