.footer {
    padding: var(--space-4xl) var(--space-3xl);
    display: flex;
    gap: 6.4rem;
}

.footer__logoContainer {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    max-width: 81.2rem;
    width: 100%;
}

.footer__logo {
    width: 24rem;
    height: 8rem;
    flex-shrink: 0;
    cursor: pointer;
}

.footer__divider {
    width: 1px;
    flex-shrink: 0;
    height: 5.6rem;
    background-color: var(--base-black-05);
}

.footer__contactLinkList {
    display: flex;
    gap: 1.6rem;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.footer__contactLink {
    padding: var(--space-s) var(--space-xl);
    border-radius: 1.2rem;
    height: max-content;
}

.footer__contactLink_vk {
    padding: var(--space-xs);
    border-radius: 1.2rem;
    height: max-content;
}

.footer__vkLogo {
    width: 4.8rem;
    height: 4.8rem;
}

@media (max-width: 1919px) {
    .footer {
        padding: 9.6rem var(--space-2xl);
    }

    .footer__logoContainer {
        max-width: 53.7rem;
    }

    .footer__logo {
        width: 16.8rem;
        height: 5.6rem;

    }

    .footer__vkLogo {
        width: 3.2rem;
        height: 3.2rem;
    }
}