.footer {
    padding: 12.8rem 6.4rem;
    display: flex;
    gap: 6.4rem;
}

.footer__logoContainer {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    max-width: 81.2rem;
    width: 100%;
}

.footer__logo {
    width: 24rem;
    height: 8rem;
    flex-shrink: 0;
}

.footer__divider {
    width: 1px;
    flex-shrink: 0;
    height: 5.6rem;
    background-color: var(--base-black-05);
}

.footer__company {
    font-size: 4rem;
    line-height: 110%;
}

.footer__contactLinkList {
    display: flex;
    gap: 1.6rem;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

.footer__contactLink {
    padding: 1.2rem 2.4rem;
    border-radius: 1.2rem;
    background-color: var(--base-black-05);
    font-size: 4rem;
    line-height: 110%;
    height: max-content;
}